extends layout

block content
  h1 ghlint
  form(action='/')
    input(name='repo', autofocus)
  if results
    h2 Results
    ul
      for result in results
        li #{result.message}: #{result.result}
