extends layout

block content
  h1: a(href='/') ghlint
  p A linter for GitHub projects.
  form.pure-form.query-form(action='/' role='form')
    legend#linter-help Choose an owner or repository to lint.
    input(name='repo', placeholder='owner/repository', aria-describedby='linter-help', autofocus)
    | 
    input.pure-button.pure-button-primary(type='submit', value='Lint')
  if repos
    for repo in repos
      hr
      h2
        a(href='https://github.com/'+repo.owner)= repo.owner
        span.text-muted  / 
        strong
          a(href='https://github.com/'+repo.owner+'/'+repo.name)= repo.name
      ul.checklist
        for result in repo.results
          li(class=colorClass(result.result))
            span.fa.fa-fw.icon-column(class=iconClass(result.result))
            = result.message
  footer
    hr
    p
      | © 2014 Nicolas McCurdy
      br
      | not affiliated with <a href="https://github.com/">GitHub</a>
