extends layout

block content
  .page-header
    h1
      a(href='/') ghlint
      | 
      small A linter for GitHub projects.
  form(action='/', role='form')
    .form-group
      label(for='repo') Repository
      .input-group
        input#repo.form-control(name='repo', placeholder='user/repository', autofocus)
        span.input-group-btn
          input.btn.btn-primary(type='submit', value='Lint')
  if repos
    for repo in repos
      h2= repo.name
      ul.checklist
        for result in repo.results
          li(class='text-'+(result.result ? 'success' : 'danger'))
            span.glyphicon.icon-column(class='glyphicon-'+(result.result ? 'ok' : 'remove'))
            span= result.message
