extends layout

block content
  .page-header
    h1
      a(href='/') ghlint
      | 
      small A linter for GitHub projects.
  form(action='/', role='form')
    .form-group
      label(for='repo') Repository
      .input-group
        input#repo.form-control(name='repo', placeholder='user/repository', autofocus)
        span.input-group-btn
          input.btn.btn-primary(type='submit', value='Lint')
  if repos
    for repo in repos
      .panel.panel-default
        .panel-heading
          h3.panel-title= repo.name
        ul.list-group
          for result in repo.results
            li.list-group-item(class='list-group-item-'+(result.result ? 'success' : 'danger'))
              span.glyphicon(class='glyphicon-'+(result.result ? 'ok' : 'remove'))
              | 
              span= result.message
