/* page layout */

body {
  font-size: 16px;
}

.container {
  max-width: 600px;
}

/* results */

h2 {
  font-size: 1.25em;
  font-weight: normal;
}

.checklist {
  list-style: none;
  padding: 0;
}

.checklist li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 15px;
}

.icon-column {
  margin-right: 15px;
}
